body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
}

main {
	/* overflow-x: hidden; */
	background-color: black;
}

h2 {
	color: var(--baige-color);
}

ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
	display: none;
}


@media screen and (min-width: 1200px) {
	main {
		display: flex;
		width: 710vw;
		overflow-y: hidden;
		overflow-x: scroll;
	}
}
