:root {
	--background-color: #d8293a;
	--secondary-background-color: #ffffff;

	--baige-color: #efdbc0;
	--white-color: #ffffff;
	--darkerWhite-color: #f0e5d8;
	--black-color: #000000;
	--red-color: #d8293a;
	--gold-color: #9c8b70;
	--darkBlue-color: #1b2030;
	--lightBlue-color: #697390;
	
	--padding: 1rem;

	--border-radius: 1rem;
	--border-size: 3px;
	
	--font-size-large: 1.5rem;
	--font-size-regular: 1rem;
	--font-size-small: 0.75rem;
}