.section__hotels {
	display: flex;
	flex-direction: column;
}

.hotels__expand-container {
	display: flex;
	position: relative;
	align-items: center;
	height: 45vh;
	width: 100vw;
	cursor: pointer;
}

.expand-hilton {
	background-image: url(../../../assets/images/Hilton_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.expand-crockfords {
	background-image: url(../../../assets/images/Crockfords_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.expand-conrad {
	background-image: url(../../../assets/images/Conrad_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.hotel__logo {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.hotel__paragraph-logo {
	margin-bottom: 4rem;
}

.hotels__content-active {
	display: none;
}

.hotels__content {
	display: none;
}

.arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: .6rem;
	transition: .3s ease-in-out;
}

.arrow__hotel-hidden {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-400%, -50%);
	width: .6rem;
	transition: .3s ease-in-out;
}

.visit-hotel__container:hover > .hotels__button-circle .arrow {
	transform: translate(400%, -50%);
}

.visit-hotel__container:hover > .hotels__button-circle .arrow__hotel-hidden {
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
	.hotels__expand-container {
		height: 55vh;
	}
}

@media screen and (min-width: 1200px) {
	.section__hotels {
		flex-direction: row;
	}

	.hotels__expand-container {
		height: 100vh;
		width: 33.3vw;
		transition: 1s ease-in-out;
	}

	.hotels__content {
		display: flex;
		padding: 4rem;
	}
	
	.hotels__paragraph-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		position: relative;
		width: 24vw;
		padding-left: 2rem;
	}
	
	.hotels-image {
		display: block;
		height: 60vh;
	}

	.hotel__logo {
		bottom: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.visit-hotel-text {
		font-size: .8rem;
	}

	.hotels__button-circle {
		position: relative;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(216, 41, 58);
		overflow: hidden;
	}

	.visit-hotel__container {
		display: flex;
		align-items: center;
		gap: .3rem;
		margin-top: 2rem;
	}

	.hotels__expand-active {
		width: 80vw;
	}

	.hotels__content-active {
		display: none;
	}

	.hotel__logo-hidden {
		display: none;
	}
}
