.button__circle-container {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.button__circle {
	position: relative;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .8rem 0;
	transition: .3s ease-in-out;
	cursor: pointer;
	background-color: var(--baige-color);
}

.button__circle:hover {
	padding: 1rem 0;
}

.circle__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-sound__red {
	display: block;
}

.play-with__red {
	display: block;
}

.play-icon__red {
	display: block;
}

.play-sound {
	display: none;
}

.play-with {
	display: none;
}

.play-icon {
	display: none;
}


@media screen and (min-width: 768px) {
	.button__circle-container {
		top: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.button__circle-container {
		top: 35%
	}

	.button__circle {
		background-color: var(--red-color);
	}

	.play-sound__red {
		display: none;
	}
	
	.play-with__red {
		display: none;
	}
	
	.play-icon__red {
		display: none;
	}

	.play-sound {
		display: block;
	}
	
	.play-with {
		display: block;
	}
	
	.play-icon {
		display: block;
	}
}