/* Footer on last page (planning section) - shows on mobile */
.footer__mobile {
	display: flex;
	flex-direction: column-reverse;
	align-self: stretch;
	position: relative;
}

/* Footer on main section - removed on mobile */
.footer__desktop {
	display: none;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	z-index: 10;
}

.footer__expedia-link {
	font-weight: 700;
}

.footer__expedia-link:hover {
	color: var(--baige-color);
}

.footer__mobile-policy {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.footer__copyright {
	font-size: .8rem;
	margin-top: 2rem;
}

.footer__social {
	position: absolute;
	top: 0;
	right: 0;
}

.social-link {
	width: 1.5rem;
	transition: .3s ease-in-out;
}

/* Scaling up social links on hover */
.social-link:hover {
	transform: scale(1.2);
}

/* Underline from left on hover */
.policy__link::after {
	content: "";
	display: block;
	width: 100%;
	height: .5px;
	background-color: rgb(255, 255, 255);
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform .4s;
	transition-delay: .1s;
}

.policy__link:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

@media screen and (min-width: 768px) {
	.footer__copyright {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1200px) {
	.footer__mobile {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.footer__social {
		position: relative;
	}

	.footer__mobile-policy {
		flex-direction: row;
	}

	.footer__copyright {
		margin-top: 0rem;
	}

	.footer__desktop {
		display: flex;
	}
}