.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	z-index: 99;
	background-blend-mode: difference;
}

.header__mobile {
	background-color: var(--white-color);
}

.header__logo {
	display: flex;
	align-items: center;
	gap: .4rem;
	mix-blend-mode: difference;
}

.logo {
	width: 6rem;
}

.line {
	width: 1px;
	height: 20px;
	background: var(--darkerWhite-color);
	cursor: auto;
}

.icon-home {
	width: .8rem;
	margin-right: .3rem;
}

@media screen and (min-width: 768px) {
	.header__logo {
		gap: 1rem;
	}

	.icon-home {
		width: 1rem;
		margin-right: .3rem;
	}

	.line {
		width: 1.2px;
		height: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.logo {
		width: 8rem;
	}
}