.nav__mobile {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.mobile__dropdown {
	cursor: pointer;
	mix-blend-mode: difference;
}

.mobile__dropdown-button {
	background-color: transparent;
	border: none;
	color: var(--white-color);
	font-size: var(--font-size-regular);
}

.expand__dropdown-icon {
	width: .7rem;
}

.button__book {
	padding: .5rem 1rem;
	border-radius: 20px;
	border: none;
	color: var(--white-color);
	background-color: var(--red-color);
}

@media screen and (min-width: 768px) {
	.mobile__button-book {
		padding: .6rem 1rem;
		font-size: var(--font-size-regular);
	}

	.nav__mobile {
		gap: 1rem;
	}
}

@media screen and (min-width: 1200px) {
	.nav__mobile {
		display: none;
	}
}