.section__entertainment {
	display: flex;
	flex-direction: column;
}

.entertainment__expand-container {
	display: flex;
	position: relative;
	align-items: center;
	height: 45vh;
	width: 100vw;
}

.expand-hilton {
	background-image: url(../../assets/images/Hilton_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.expand-crockfords {
	background-image: url(../../assets/images/Crockfords_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.expand-conrad {
	background-image: url(../../assets/images/Conrad_Resorts_World_Las_Vegas.jpg);
	background-size: cover;
	background-position: center;
}

.hotel__logo {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.visit-hotel__container {
	display: none;
}

.expand-image {
	display: none;
}

.hotel__text {
	display: none;
}


@media screen and (min-width: 992px) {
	.entertainment__expand-container {
		height: 55vh;
	}
}


@media screen and (min-width: 1200px) {
	.section__entertainment {
		flex-direction: row;
	}

	.entertainment__expand-container {
		height: 100vh;
		width: 33.3vw;
		cursor: pointer;
		transition: 1s ease-in-out;
	}

	.entertainment__content-container {
		display: flex;
		align-items: flex-end;
		padding: 4rem;
	}
	
	.expand__paragraph-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 24vw;
	}
	
	.expand-image {
		display: none;
		height: 60vh;
	}

	.hotel__logo {
		position: relative;
		left: 0;
		transform: translateX(0%);
		margin-bottom: 6rem;
	}

	.hotel__text {
		display: none;
	}
	
	.visit-hotel-text {
		font-size: .8rem;
	}

	.entertainment__button-circle {
		position: relative;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(216, 41, 58);
		overflow: hidden;
	}

	.visit-hotel__container {
		display: none;
		align-items: center;
		gap: .3rem;
		margin-top: 2rem;
	}

	.arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: .6rem;
		transition: .3s ease-in-out;
	}
	
	.arrow__hotel-hidden {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-400%, -50%);
		width: .6rem;
		transition: .3s ease-in-out;
	}

}
