.section__restaurants {
	background-color: var(--red-color);
}

.restaurants__information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100vw;
	height: 90vh;
	padding: 1rem;
}

.information__top {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}

.information__changing {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	text-align: center;
	display: none;
}

.information__changing-h3 {
	font-size: 3rem;
	margin-bottom: 2rem;
	color: var(--baige-color);
}

.information__navigation {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation__border-line {
	border-bottom: 3px solid white;
}

.navigation__text-wrapper {
	padding: 0 2rem 2rem 2rem;
	cursor: pointer;
}

.restaurants__image {
	position: relative;
	width: 100vw;
	height: 40vh;
}

.restaurants__paragraph {
	padding: 1rem;
}

.image__slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.slideshow__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide__visible {
	display: block;
}

.information__slide-visible {
	display: block;
}

.information__circle-button {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.circle__button {
	position: relative;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .8rem 0;
	transition: .3s ease-in-out;
	cursor: pointer;
	background-color: var(--baige-color);
}

.circle__button:hover {
	padding: 1.2rem 0;
}

.circle__button-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 576px) {
	.information__changing-h3 {
		font-size: 4rem;
	}

	.navigation__text-h5 {
		font-size: 1rem;
	}

	.information__navigation {
		width: 80%;
		margin: 0 auto;
	}

	.navigation__text-wrapper {
		padding: 0 1rem 1rem 1rem;
	}
}

@media screen and (min-width: 768px) {
	.navigation__text-wrapper {
		padding: 0 2rem 1rem 2rem;
	}

	.information__changing-h3 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 992px) {
	.navigation__text-wrapper {
		padding: 0 4.5rem 1rem 4.5rem;
	}
}

@media screen and (min-width: 1200px) {
	.section__restaurants {
		display: flex;
	}

	.restaurants__information {
		width: 60vw;
		height: 100vh;
	}

	.restaurants__image {
		width: 40vw;
		height: 100vh;
	}

	.restaurants__paragraph {
		display: none;
	}

	.navigation__text-wrapper {
		padding: 0 2.3rem 2rem 2.3rem;
	}

	.information__navigation {
		margin-bottom: 2rem;
	}

	.information__top {
		margin-top: 3rem;
	}
}